BUILD_CONFIGURATION=Release
COMPOSE_PROJECT_NAME=vkr_russkin
APP_IMAGE_TAG=local
APP_PORT=5454
MARIADB_DATABASE=vkr_russkin
MARIADB_USER=vkr_russkin
MARIADB_PASSWORD=change-me-app-password
MARIADB_ROOT_PASSWORD=change-me-root-password
MARIADB_PORT=5456
